//COLORS

$black: #121212;
$darkMode: #282828;
$grey: #7e7e7e;
$color-primary: #ff0164;
$color-secondary: #0188fe;
$color-tertiary: #2b0050;
$white: #fff;

//FONT-FAMILY

$font-primary: 'Lexend Deca', sans-serif;

//FONT-SIZE

$xs: 10px;
$s: 12px;
$m: 14px;
$l: 16px;
$xl: 20px;
$xxl: 32px;